package [% service_class %]::Controller;


use Moo;
extends qw(Glyph::Controller);
use namespace::clean;

use Method::Signatures;

method _build_base_classname {
	return '[% base_classname %]';
}

1;
