# Configuration file for [% service_class %]
{
  mode      => 'development',
  log_level => '[% log_level %]',
  version   => '1',
  
  hypnotoad => {
    user    => '[% username %]',
    listen  => ['http://*:3001'],
    workers => [% workers %],
    clients => [% clients %],
    accepts => [% accepts %],
    proxy   => 1,
  }
};
