package [% base_classname %]::Endpoint;

# Base class for all [% service_class %] endpoints

use Moo;
with qw(
    Glyph::Role::Endpoint
    Glyph::Role::ErrorHandler
    Glyph::Role::LogHandler
);
use namespace::clean;


1;

=head1 NAME

[% base_classname %]::[% service_class %]::Endpoint

=head1 SYNOPSIS


=head1 DESCRIPTION

=head1 METHODS

=over

=item B<authenticate>

=back

=head1 SEE ALSO

=head1 AUTHOR

???

=head1 LICENSE AND COPYRIGHT

Your license here

=cut