package [% base_classname %]::[% service_class %]::Endpoint::[% op_id %];

# Endpoint class to handle [% service_class %] [% op_id %] requests

use Moo;
extends qw([% base_classname %]::[% service_class %]::Endpoint);
use namespace::clean;

use Method::Signatures;


# API handler for [% op_id %]
method api ($c!) {
	
}

1;
